.OrderDetails {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 5rem;
    background-color: rgba(0, 0, 128, 0.80);
    color: gainsboro;
    border-radius: 5%;
}


.OrderDetails-Header {
    /* background-color: seashell; */
    border-bottom: 2px solid snow;


}

.OrderDetails-BackToTable {
    border: 1px dotted seashell;
    width: 80px;
    margin: 0.5rem auto;
    padding: 0.5rem 0;
    cursor: pointer;

}
.OrderDetails-BackToTable:hover {
    background-color: antiquewhite;
    color: navy;
    transform: scale(1.2) translate(0, -5px);
}


.OrderDetails-Body {
    /* background-color: rgba(135, 207, 235, 0.53); */
    justify-content: space-around;
    padding: 2rem 0;

}

.OrderDetails-Body-Customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-bottom: 2px solid snow;
    margin: 1rem 1rem;

}

.OrderDetails-Body-Items {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.OrderDetails-Body-Restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid snow;
    margin: 1rem 1rem;

}

.OrderDetails-OrderItem {
    border-bottom: 2px solid snow;
    margin: 1rem 0;
    padding: 1rem;

}

.OrderDetails-TotalPrice {
    border: 2px dotted silver;
    padding: 1rem;
}

.OrderDetails-TotalPrice {
    margin-left: 1rem;
}

.OrderDetails-PriceGroup {
    margin-left: 2rem;
}

.WhiteFont {
    color: white;
}