

.OrderHistoryTable {
    box-shadow: 5px 5px 5px gray;
    margin: 1rem 0 5rem 0;
}

.OrderHistoryTable-OrderNumber {
    cursor: pointer;
    color: blue;
}


th {
    border-bottom: 2px solid navy;
    border-right: 3px solid navy;
    padding: 0.8rem;
}

.OrderHistoryTable-ItemRows {
    border-bottom: 3px solid navy;
    margin: 1rem 0;
}

td {
    border-right: 3px solid navy;
    padding: 0.8rem;
}