.OwnerSignup-Form-Field {
    margin: 0.8rem auto;
    display: flex;
    flex-direction: column;
    width: 65%;
    /* border: 2px solid red; */
}

.OwnerSignup-Form-Field input {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    /* border: 2px solid blue; */

}

.OwnerSignup-Form {
    margin: 1rem 0;
}

.OwnerSignup-Form-Field label {
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 400;
}

.OwnerSignup {
    padding: 2rem 0;
    background-color: rgba(46, 138, 86, 0.8);
    box-shadow: 10px 10px 15px seagreen;
    border-radius: 5%;
    color: white;
    width: 40%;
    margin: 0 auto;
}

.OwnerSignup-Customer-Link {
    color: white;
}