
.Restaruant-Admin-Nav {
    display: flex;
    justify-content: flex-end;
} 

.Restaruant-Contents {
    display: flex;
}

.Restaruant-Cart {
    margin: 4rem auto 2rem auto;

} 









