.Order-Form-Btn {
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: rgb(24, 199, 24);
    border: 2px solid green;
    box-shadow: 5px 5px 5px green;
    color: white;
    margin: 0.5rem 0 0 0;
}

.Order-Form-Btn:hover {
    cursor: pointer;
    transform: scale(1.1) translate(0, 5px);
}

.Order-Form-Field {
    margin: 0.3rem;
    display: flex;
    flex-direction: column;
    
}

.Order-Form-Field input{
    width: 60%;
    align-self: center;
    text-align: center;
}

.OrderForm {
    margin-top: 1.5rem;
}
